<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>

    <div>

        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.minlenght || nombre.errors?.required) && nombre.touched}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" minlength="3" required #nombre="ngModel">
            </div>
            <div *ngIf="nombre.errors?.required" class="form-control-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
                Al menos 3 caracteres
            </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': (apellido.errors?.minlenght || apellido.errors?.required) && apellido.touched}">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" minlength="3" #apellido="ngModel" required>
            </div>
            <div *ngIf="apellido.errors?.required" class="form-control-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="apellido.errors?.minlength" class="form-control-feedback">
                Al menos 3 caracteres
            </div>

        </div>

    </div>

    <div class="form-group row" [ngClass]="{'has-danger': 
        (email.errors?.email || email.errors?.required) && email.touched}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.email" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
        </div>
        <div *ngIf="email.errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="email.errors?.email" class="form-control-feedback">
            Debe ser un email valido
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': 
    (pais.errors?.required) && pais.touched}">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select class="form-control" [(ngModel)]="usuario.pais" required name="pais">
                    <option value="">Seleccione</option>
                    <option *ngFor="let p of pais" value="{{p.codigo}}">{{p.pais}}</option>
               </select>
        </div>
        <div *ngIf="pais.errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>

    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <label class="custom-control custom-radio" *ngFor="let s of sexos">
                <input   [(ngModel)]="usuario.sexo"
                     [value]="s.codigo" name="sexo"
                 type="radio" class="custom-control-input" >
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{s.descripcion}}</span>
            </label>
            <!--<label class="custom-control custom-radio">
                <input id="radio2" name="sexo" type="radio" value="F"
                 class="custom-control-input" [(ngModel)]="usuario.sexo">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Mujer</span>
            </label>-->

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label class="custom-control custom-checkbox">
                <input   [(ngModel)]="usuario.acepta"
                     [value]="usuario.acepta" name="acepta"
                 type="checkbox" class="custom-control-input" >
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Acepta</span>
            </label>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
        Guardar
      </button>
        </div>
    </div>

</form>